.search-bar{
    width: 40%;
}

.showcase-bg{

    background-color: rgb(13, 107, 29);
}
body::before{
    display:block;
    content:'';
     height:60px;
     
}
@media(min-width: 768px){
    .news-input {
width:50%;
    }
}

.livestock-image{

    width: 30%;
}

